.picabulite-main:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background: url(picabulite-logo.png) no-repeat;
  background-size: cover;
  font-size: 12px;
  width: 12em;
  height: 2em;
  pointer-events: none;
}
@media (max-width: 700px) {
  .picabulite-main:before {
    font-size: 9px;
  }
}